/*
 * Copyright 2019-2025 GPLv3, Slideshow Crypto Ticker by Mike Kilday: Mike@DragonFrugal.com (leave this copyright / attribution intact in ALL forks / copies!)
 */


body, html {
  background: #000000;
  color: #c6c6c6;
  font-family: serif, monospace;
  height: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
  /* HIDE THE CURSOR */
  cursor: none;
}


p {
  position: relative;
}


div .monospace {
    /* outline: 1px solid rgba(255, 0, 0, 0.5); keep for future debugging of emulated monospace if needed */
    display: inline-block;
    text-align: center;
}


.title {
	white-space: nowrap;
  overflow: hidden;
  font-weight: 350;
  transform: scale(1, 1);
  padding: 0px;
  margin: 0px;
}


.status {
color: #ffff00;
}


.ticker {
  white-space: nowrap;
  overflow: hidden;
  font-weight: 350;
  transform: scale(1, 1);
  padding: 0px;
  margin: 0px;
}


.tick_text {
  margin: auto;
  text-align: center;
}


.volume {
  white-space: nowrap;
  overflow: hidden;
  font-weight: 350;
  transform: scale(1, 1);
  padding: 0px;
  margin: 0px;
}


.orient_90 {
  -moz-transform:rotate(90deg); /* Firefox */
  -webkit-transform:rotate(90deg); /* Webkit */        
  -ms-transform:rotate(90deg); /* IE */
  -o-transform:rotate(90deg); /* Opera */
  transform:rotate(90deg); /* future */
}


.orient_180 {
  -moz-transform:rotate(180deg); /* Firefox */
  -webkit-transform:rotate(180deg); /* Webkit */        
  -ms-transform:rotate(180deg); /* IE */
  -o-transform:rotate(180deg); /* Opera */
  transform:rotate(180deg); /* future */
}


.orient_270 {
  -moz-transform:rotate(270deg); /* Firefox */
  -webkit-transform:rotate(270deg); /* Webkit */        
  -ms-transform:rotate(270deg); /* IE */
  -o-transform:rotate(270deg); /* Opera */
  transform:rotate(270deg); /* future */
}


.spacing {
  position: relative;
}


span.arrow {
  position: absolute;
  padding: 0px;
  margin: 0px;
  left: 0px;
  width: auto;
  height: auto;
}


div.arrow_wrapper {
display: inline-block;
position: relative;
padding: 0px;
margin: 0px;
top: 0px;
}


span.buy {
bottom: 0px;
}


span.sell {
top: 0px;
}


#main_wrapper {
  position: relative;
    z-index: 9999998;
  text-align: center;
  width: auto;
  border: 0px;
  padding: 0px;
  margin: auto;
  height: 100%;
}


#ticker_window {
  display: inline-block;
  position: relative;
    z-index: 9999998;
  text-align: center;
  white-space: nowrap;
  height: auto;
  width: auto;
  border: 0px;
  padding: 0px;
  margin: auto;
}


#ticker_window div.asset_tickers {
  display: none;
  margin: 0px;
  padding: 0px;
}


#ticker_window div.asset_tickers:first-child {
    display: inline-block;
}


#internet_alert {
position: absolute;
  top: 1vw;
  left: 50%;
  transform: translate(-50%, -0%);
  opacity: 0.9;
margin: auto;
margin-top: 1vw;
z-index: 9999999;
background: #808080;
padding: 1vw;
min-width: 90%;
text-align: center;
font-weight: bold;
font-size: 4.5vw;
display: none;
border-radius: 1vw;
}


#upgrade_alert {
    color: #ffff00;
    cursor: pointer;
position: absolute;
  top: 0.5vw;
  right: 0.5vw;
z-index: 9999999;
background: none;
padding: 0.15vw;
width: auto;
display: none;
}


#upgrade_alert .more_info {
text-align: center;
font-weight: bold;
font-size: 1.3vw;
line-height: 1.8vw;
}


#upgrade_alert .title {
    position: absolute;
    top: 4.7vw;
    background: silver;
    padding: 0.5vw;
    right: 0.2vw;
    text-align: left;
    padding: 1vw;
    white-space: pre-wrap;
    min-width: 92vw;
    max-width: 92vw;
    color: black !important;
    font-size: 1.3vw;
border-radius: 1vw;
}


#system_data {
    color: #ffff00;
position: absolute;
  top: 1.5vw;
  left: 1.5vw;
z-index: 9999999;
background: none;
padding: 0.15vw;
font-weight: bold;
width: auto;
display: none;
}


/* AVOID SCREEN BURN ON TOP AREA, WITH #VERY SLOW# BACK-AND-FORTH MOVEMENT */

.moving_left_side {
    animation-duration: 30s;
    animation-name: moving_from_left;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: absolute;
}


@keyframes moving_from_left {
    from {
        left: 1.5vw;
    }
    to {
        left: 5.5vw;
    }
}


.moving_right_side {
    animation-duration: 30s;
    animation-name: moving_from_right;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: absolute;
}


@keyframes moving_from_right {
    from {
        right: 0.5vw;
    }
    to {
        right: 4.5vw;
    }
}


