/*
 * Copyright 2019-2022 GPLv3, Slideshow Crypto Ticker by Mike Kilday: http://DragonFrugal.com
 */


body, html {
  background: #000000;
  color: #c6c6c6;
  font-family: serif, monospace;
  height: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
}


p {
  position: relative;
}


div .monospace {
    /* outline: 1px solid rgba(255, 0, 0, 0.5); keep for future debugging of emulated monospace if needed */
    display: inline-block;
    text-align: center;
}


.title {
	white-space: nowrap;
  overflow: hidden;
  font-weight: 350;
  font-size: 48px;
  transform: scale(1, 1);
  padding: 0px;
  margin: 0px;
}


.status {
color: #FFFF00;
}


.ticker {
  white-space: nowrap;
  overflow: hidden;
  font-weight: 350;
  font-size: 60px;
  transform: scale(1, 1);
  padding: 0px;
  margin: 0px;
}


.tick_text {
  margin: auto;
  text-align: center;
}


.volume {
  white-space: nowrap;
  overflow: hidden;
  font-weight: 350;
  font-size: 29px;
  transform: scale(1, 1);
  padding: 0px;
  margin: 0px;
}


.orient_90 {
  -moz-transform:rotate(90deg); /* Firefox */
  -webkit-transform:rotate(90deg); /* Webkit */        
  -ms-transform:rotate(90deg); /* IE */
  -o-transform:rotate(90deg); /* Opera */
  transform:rotate(90deg); /* future */
}


.orient_180 {
  -moz-transform:rotate(180deg); /* Firefox */
  -webkit-transform:rotate(180deg); /* Webkit */        
  -ms-transform:rotate(180deg); /* IE */
  -o-transform:rotate(180deg); /* Opera */
  transform:rotate(180deg); /* future */
}


.orient_270 {
  -moz-transform:rotate(270deg); /* Firefox */
  -webkit-transform:rotate(270deg); /* Webkit */        
  -ms-transform:rotate(270deg); /* IE */
  -o-transform:rotate(270deg); /* Opera */
  transform:rotate(270deg); /* future */
}


.spacing {
  position: relative;
  margin-top: 30px;
}


span.arrow {
  position: absolute;
  padding: 0px;
  margin: 0px;
  left: 0px;
  width: auto;
  height: auto;
}


div.arrow_wrapper {
display: inline-block;
position: relative;
padding: 0px;
margin: 0px;
margin-right: 20px;
top: 0px;
}


span.buy {
bottom: 0px;
}


span.sell {
top: 0px;
}


#main_wrapper {
  position: relative;
  text-align: center;
  width: auto;
  border: 0px;
  padding: 0px;
  margin: auto;
}


#ticker_window {
  display: inline-block;
  position: relative;
  text-align: center;
  white-space: nowrap;
  height: auto;
  width: auto;
  border: 0px;
  padding: 0px;
  margin: auto;
}


#ticker_window div.asset_tickers {
  display: none;
  margin: 0px;
  padding: 0px;
}


#ticker_window div.asset_tickers:first-child {
    display: inline-block;
}


#internet_alert {
position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -0%);
  opacity: 0.9;
margin: auto;
margin-top: 10px;
z-index: 9999999;
background: #808080;
padding: 10px;
border-radius: 5px;
text-align: center;
font-weight: bold;
font-size: 7.5vw;
display: none;
}



