/*
 * Copyright 2019 GPLv3, DFD Crypto Ticker by Mike Kilday: http://DragonFrugal.com
 */


body, html {
            margin: 0px;
            padding: 0px;
}


html {
  height: 100%;
  background: black;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.title {
	white-space: nowrap;
  position: relative;
  Font-family: Montserrat;
  font-weight: 350;
  font-size:50px;
  margin: 0;
}


.small {
  font-weight: 350;
  font-size:37px;
}


p {
  position: relative;
  Font-family: Montserrat;
}


#ticker_window {
	
  border: 0px solid red;
  position:absolute;
	text-align: center;
	white-space: nowrap;
	display: inline-block;
  position: relative;
  margin: 0px;
  height: auto;
  width: 90%; /* centers different assets ok on 3.5" screen */
  background: black;
  color: #c6c6c6;
  padding: 1em;
  padding-bottom: 40px;
}


#ticker_window div.asset_tickers {
    display: none;
}


#ticker_window div.asset_tickers:first-child {
    display: inline-block;
}


#ticker_window > div.asset_tickers{
   /* width:400px;
    height:250px; */
}


.ticker {
	white-space: nowrap;
  overflow: hidden;
  font-weight: 350;
  font-size: 70px;
}


.flip {
/* flip upsidedown because my power plug is in the way */
  -moz-transform:rotate(-180deg); /* Firefox */
  -webkit-transform:rotate(-180deg); /* Webkit */        
  -ms-transform:rotate(-180deg); /* IE */
  -o-transform:rotate(-180deg); /* Opera */
  transform:rotate(-180deg); /* future */
}


.spacing {
	margin-top: 30px;
}


.tick {
  margin: auto;
  text-align: center;
}


span {
  width: 175px;
  text-align: left;
}


span.sell {
  background-color: rgb(105, 199, 115);
}


span.buy {
  background-color: rgb(199, 105, 105);
}

